<div class="dashboard">
  <div class="header">
    <h1>Purchasers</h1>
  </div>

  <div class="purchasers">
    <h3>Records</h3>

    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th class="text-center">TOTAL MERCHANTS</th>
          <th class="text-center">TOTAL PURCHASES</th>
          <th class="text-center">TOTAL SPENT</th>
        </tr>
      </thead>

      <tbody>
        <% @purchasers.each do |p| %>
          <tr>
            <td>
              <%= link_to purchaser_path(p.id) do %>
                <%= p.name %>
                <i class="fas fa-arrow-right"></i>
              <% end %>
            </td>
            <td class="text-center"><%= p.merchants.count %></td>
            <td class="text-center"><%= p.company_sales.count %></td>
            <td class="tags">
              <div class="tag purple-tag">
                <%= "$ #{p.total_spent}" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
