<h1><%= @purchaser.name %></h1>

<%= link_to 'Home', root_path %>
<%= link_to 'Back To Purchasers', purchasers_path %>

<h4>Merchants</h4>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>address</th>
      <th>purchases</th>
      <th>total spent</th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |m| %>
      <tr>
        <td><%= link_to m.name, merchant_path(m.id) %></td>
        <td><%= m.address %></td>
        <td><%= m.company_sales.where(purchaser_id: @purchaser.id).count %></td>
        <td><%= @purchaser.total_spent_on_company(m) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Purchases</h4>
<table>
  <thead>
    <tr>
      <th>purchases</th>
      <td><%= @purchases.count %></td>

      <th>merchants</th>
      <td><%= @merchants.count %></td>

      <th>total spent</th>
      <td><%= @purchaser.total_spent %></td>
    </tr>

    <tr>
      <th>item description</th>
      <th>item price</th>
      <th>purchase count</th>
      <th>merchant address</th>
      <th>merchant name</th>
      <th>paid</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |p| %>
      <tr>
        <td><%= p.item_description %></td>
        <td><%= p.item_price %></td>
        <td><%= p.purchase_count %></td>
        <td><%= p.merchant_address %></td>
        <td><%= link_to p.merchant_name, merchant_path(p.merchant.id) %></td>
        <td><%= p.gross_income %></td>
      </tr>
    <% end %>
  </tbody>
</table>
