<div class="sidebar shadow-lg">
  <div class="sidebar-nav">
    <%= link_to root_path do %>
      <i class="fas fa-home" title="Home"></i>
    <% end %>

    <%= link_to company_sales_path do %>
      <i class="fas fa-receipt" title="Company Sales"></i>
    <% end %>

    <%= link_to merchants_path do %>
      <i class="fas fa-users" title="Merchants"></i>
    <% end %>

    <%= link_to purchasers_path do %>
      <i class="fas fa-hand-holding-usd" title="Purchasers"></i>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt" title="Logout"></i>
    <% end %>
  </div>
</div>
