<%= link_to 'Register new sale', new_company_sale_path %>

<table>
  <thead>
    <tr>
      <th>total income</th>
      <td><%= @total_income.truncate(2) %></td>
    </tr>

    <tr>
      <th>purchaser name</th>
      <th>item description</th>
      <th>item price</th>
      <th>purchase count</th>
      <th>merchant address</th>
      <th>merchant name</th>
      <th>gross income</th>
    </tr>
  </thead>

  <tbody>
    <% @company_sales.each do |s| %>
      <tr>
        <td><%= s.purchaser_name %></td>
        <td><%= s.item_description %></td>
        <td><%= s.item_price %></td>
        <td><%= s.purchase_count %></td>
        <td><%= s.merchant_address %></td>
        <td><%= s.merchant_name %></td>
        <td><%= (s.item_price * s.purchase_count).truncate(2) %></td>
        <td><%= link_to 'Edit sale', edit_company_sale_path(s.id) %></td>
        <td><%= link_to 'Delete sale', company_sale_path(s.id), method: :delete, data: { confirm: 'Delete sale?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
