<%= link_to 'All merchants', merchants_path %>
<%= link_to 'All purchasers', purchasers_path %>

<h3>Import file</h3>
<%= form_tag import_company_sales_path, multipart: true do %>
  <%= file_field_tag :file, required: true %>
  <%= submit_tag 'Upload' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>total income</th>
      <td><%= @total_income.truncate(2) %></td>
    </tr>

    <tr>
      <th>purchaser name</th>
      <th>item description</th>
      <th>item price</th>
      <th>purchase count</th>
      <th>merchant address</th>
      <th>merchant name</th>
      <th>gross income</th>
    </tr>
  </thead>

  <tbody>
    <% @company_sales.each do |s| %>
      <tr>
        <td><%= link_to s.purchaser_name, purchaser_path(s.purchaser.id) %></td>
        <td><%= s.item_description %></td>
        <td><%= s.item_price %></td>
        <td><%= s.purchase_count %></td>
        <td><%= s.merchant_address %></td>
        <td><%= link_to s.merchant_name, merchant_path(s.merchant.id) %></td>
        <td><%= (s.item_price * s.purchase_count).truncate(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
