<!DOCTYPE html>
<html>
  <head>
    <title>FileUploader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="content">
      <% if user_signed_in? %>
        <div class="content-left">
          <%= render 'shared/sidebar' %>
        </div>

        <div class="content-right">
          <%# <%= render 'shared/navbar' %>
          <%= render 'shared/import' %>
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      <% else %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
